@model ShoppingLists.Web.Models.ShoppingListSharingModel

@{
    ViewBag.Title = "Share " + Model.Title;
}

<div id="SharingModelRoot">
    @* Knockout bindings applied to all within this. *@

    @* Sharing users list *@
    <p><h3 data-bind="text: getHeading"></h3></p>
    <i data-bind="visible: Users().length === 0">Nobody at the moment.</i>
    <table class="table">
        <tbody data-bind="foreach: Users">
            <tr>
                <td>
                    <span data-bind="text: UserName"></span>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-primary" data-bind="click: function () { $parent.editUserPermissions($data); }, attr: { title: getShareWithUserTooltip }">Permissions...</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-primary" data-bind="click: function () { $parent.removeUser($data); }, attr: { title: getRemoveUserTooltip }">Remove</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    @* Add User button. *@
    <p></p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Add user to share this shopping list" data-bind="click: shareWithUser">Add User</button>
    </div>

    <hr />

    @* Back to Shopping List button. *@
    <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Back to Shopping List" data-bind="click: backToList">Back to Shopping List</button>
    </div>

    @* Back to 'My lists' button. *@
    <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Back to My Lists" data-bind="click: backToMyLists">Back to My Lists</button>
    </div>
</div>

@Html.Partial("_UserPermissionsEditForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        "use strict";

        (function () {
            $(function () {
                var sharingModel = new SharingModel(@Html.Raw(Json.Encode(Model)));
            });
        }());
    </script>
}
