@model ShoppingLists.Web.Models.ShoppingListModel

@{
    ViewBag.Title = "Show " + Model.Title;
}

<div id="ListModelRoot">
    @* Knockout bindings applied to all within this. *@
    <div class="form-horizontal">

        <div class="span4 pull-right">
            <div class="alert alert-warning fade"
                 style="position: absolute; right: 0; z-index: 50000; padding-top: .5em; padding-bottom: .5em; line-height: 1em;"
                 data-bind="text: viewerAlert">
            </div>
        </div>

        <p></p>
        <div class="btn-group">
            @* List title and options button. *@
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" title="Shopping list options." data-toggle="dropdown">
                <span style="font-size: smaller" data-bind="text: Title"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-bind="click: shareList, style: getEnabledStyle(permissions.Share)">Share...</a></li>
                <li><a href="#" data-bind="click: changeListTitle, style: getEnabledStyle(permissions.Edit)">Change title</a></li>
                <li><a href="#" data-bind="click: addListItem, style: getEnabledStyle(permissions.AddListItems)">Add item</a></li>
                <li><a href="#" data-bind="click: unpickAllListItems, style: getEnabledStyle(permissions.PickOrUnpickListItems)">Unpick all items</a></li>
            </ul>
        </div>

        <div class="visible-xs" style="margin-top: 1em"></div>

        <div class="btn-group">
            @* Add list item button. *@
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-lg" title="Add new list item." data-bind="click: addListItem, enable: checkPermission(permissions.AddListItems)">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>

            @* List item toolbar. *@
            <div class="btn-group" data-toggle="buttons">

                @* Pick list item tool. *@
                <label class="btn btn-lg btn-default" title="Pick item." data-bind="click: function () { setTool('pickItem'); }">
                    <input type="radio" name="ListItemTools" value="pickItem" checked="checked" />
                    <span class="glyphicon glyphicon-check"></span>
                </label>

                @* Unpick list item tool. *@
                <label class="btn btn-lg btn-default" title="Unpick item." data-bind="click: function () { setTool('unpickItem'); }">
                    <input type="radio" name="ListItemTools" value="unpickItem" />
                    <span class="glyphicon glyphicon-unchecked"></span>
                </label>

                @* Edit list item tool. *@
                <label class="btn btn-lg btn-default" title="Edit item details." data-bind="click: function () { setTool('editItem'); }">
                    <input type="radio" name="ListItemTools" value="editItem" />
                    <span class="glyphicon glyphicon-edit"></span>
                </label>

                @* Remove list item tool. *@
                <label class="btn btn-lg btn-default" title="Remove item from list." data-bind="click: function () { setTool('removeItem'); }">
                    <input type="radio" name="ListItemTools" value="removeItem" />
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </label>
            </div>
        </div>

        <p></p>
        <div style="line-height: 275%">
            <div data-bind="foreach: ListItems">
                <div class="btn-group">
                    @* ListItem button. *@
                    <button type="button" class="btn btn-default" data-bind="text: caption, click: function () { $parent.itemButtonClick($data); }, css: getCssClass"></button>
                </div>
            </div>
        </div>
    </div>

    @* Other users that are currently viewing this ShoppingList. *@
    <p></p>
    <div data-bind="foreach: viewers">
        <span style="margin-right: 1em">
            <span class="glyphicon glyphicon-user"></span>
            <span class="" data-bind="text: $data"></span>
        </span>
    </div>

    @* Back to 'My lists' button. *@
    <hr />
    <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Back to My Lists." data-bind="click: backToMyLists">Back to My Lists</button>
    </div>
</div>

@Html.Partial("_ListItemEditForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/ajaxhelper")
    @Scripts.Render("~/bundles/shoppinglistshow")
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        "use strict";

        (function () {
            $(function () {
                @Html.RenderServiceExceptionsJs()

                @Html.RenderPermissionsJs()

                var urls = {
                    index: "@Url.Action("Index")",
                    share: "@Url.Action("Share")/"
                };

                // SignalR client side hub.
                var hub = getShoppingListHub(urls, serviceExceptions);

                // Create the main shopping list model.
                var shoppingListModel = new ShoppingListModel(@Html.Raw(Json.Encode(Model)), hub, urls, permissions);

                // Start the hub connection.
                hub.start(shoppingListModel);
            });
        }());
    </script>
}
